* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(net.jpg);
    position: relative;
  }
  
  .block {
    opacity: 0.1;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(48, 203, 255);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .form {
    position: absolute;
    z-index: 1000;
  }